/* Configurações gerais */
#body-index {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/parque3.jpg");
    color: #333;
}

#body-fase1{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/consultorio.jpg");
    color: #333;
}

#body-fase2{
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/sala-de-aula2.jpg");
    color: #333;
}

#body-fase3{
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/bairro-01.jpg");
    color: #333;
}

#body-fase4{
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/sala-01.jpg");
    color: #333;
}

#body-fase5{
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/quarto.jpg");
    color: #333;
}

#body-fase6{
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4b9cd3;
    background-image: url("../images/consultorio-cen-fase6-01.jpg");
    color: #333;
}

h1, h2 {
    color: #4b9cd3;
    text-align: center;
    font-weight: bold;
}

/* Tela de Início */
#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Background específico para cada fase */
#fase2-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#story-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#question-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#correct-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #b2ff7e;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#incorrect-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #ff6060;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#instructions-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#instructions-screen h2 {
    margin-top: 0;
    font-size: 1.8em;
}

#instructions-screen ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 20px 0;
}

#instructions-screen li {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.5;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#game-container h2 {
    margin-top: 0;
    font-size: 1.8em;
}

#help-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
}

#choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
}

#instructions-b{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
}
button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #4b9cd3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3b8cb5;
}

button:last-of-type {
    background-color: #ccc;
    color: #333;
}

button:last-of-type:hover {
    background-color: #b0b0b0;
}
